<div #container class="ms-auto me-auto overflow-hidden w-25 d-flex mt-5">
  <div class="m-3 d-flex align-items-center justify-content-center position-relative z-1">
    <div *ngFor="let step of steps; let i = index" class="step-element ms-2 me-2 d-flex justify-content-center align-items-center rounded-circle app-main-border-color"
         style="width: 50px; height: 50px; cursor: pointer;" [ngClass]="{ 'app-main-bg-color text-white': step===currentStep, 'bg-white app-main-color': step!==currentStep }"
         (click)="setStep(step)">
      {{step}}
    </div>
  </div>
</div>
<hr class="horizontal-line app-main-color border-2 m-0 z-0 opacity-100 position-relative w-25 me-auto ms-auto">
